@charset "utf-8";
/* CSS Document */

body
{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
margin:0;
}

.main-col
{
width:67%;
float:left;
padding:25px;
}

.right-col
{
width:28%;
float:right;
background-color:#EFEDE6;
}
.attempeted li {
  list-style: decimal;
 
}

.head > h4 {
  padding-left: 24px;
   color:#690;
}


.button {
  background: none repeat scroll 0 0 #2F669E;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin-right: 15px;
  padding: 10px 25px;
  text-decoration: none;
 
}

.button:hover {
  background: none repeat scroll 0 0 #9FCB1F;
}

.green
{
color:#9FCB1F;
}