 html
 {
 font-size:12px;
 font-family:arial;
 } 
 
*
{
font-size:12px;
}

body
{
margin:0;
}
 .header
 {
 height:50px;
 text-align:right;
 border-bottom:2px solid #000;
 background:#0E3E6F;
line-height:4em;
color:#fff;
padding-right:20px;

 }
 
.header a
{
color:#fff;
}

 .left
 {
 width:20%;
 border-right:1px solid #B1C2D4;
 height:500px ;
 float:left;
 }

 .left li
 {
list-style:none;
padding:5px;
 }

 .left li a
 {
text-decoration:none;
color:#0E3E6F;
 }

 .left li a:hover
 {
text-decoration:underline;
color:#0E3E6F;
 }

 .main
 {
 height:500px auto ;
 width:70%;
padding-left:20px;
float:left;
 
 } 

 .clear
 {
 clear:both;
 }

 .footer
 {
 border-top:4px solid #999;
 text-align:center;
 height:80px;
 clear:both;
 }  

 .login-table
 {
border: thin solid #1E4B78;
margin:auto;
margin-top:200px;
font-size:12px;
 }
 
 .error
 {
 color:#ff0000;
 }
 
 .formTable
 {
 border:1px solid #ccc;
 
 }
 
 
  .formTable td
 {
 height:30px;
 padding-left:12px;
 
 }
 
 
  
  .formTable input[type=text],select 
   {
 width:200px;
 border:1px solid #ccc;
 height:30px;
 
 }
 
 
   .formTable .first 
   {
 padding-top:12px;
 }
 
    .formTable .last 
   {
 padding-bottom:12px;
 }

.table-border
{
border:1px solid #B8C9DA;
}

.bold
{
font-weight:bold;
}

.right
{
color:#9C0;
}

.wrong
{
color:#C00;
}